.board {
    height: 210px;
    width: 210px;
    margin: 0 auto;
}

.body-down {
  background-color: #9b59b6;
}
.mainHeading{
  font-family: 'Kalam', cursive;
}
.content {
  font-family: 'Courgette', cursive;
}


.cell {
    width: 70px;
    height:70px;
    border: 2px dotted blue;
    cursor:pointer;
    float:left;
    text-align: center;
    font-weight: bold;
}

.redColor{
    color:red;
}

.green{
    color:green;
}

